body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #cbcbcb;
  color: #333;
  line-height: 1.6;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  color: #477FC0;
}
h1::first-letter {
  color: #3056A4;
}
h1 span {
  color: #4f4f4f;
  font-weight: normal;
  font-size: 2rem;
}

h2,
h3 {
  color: #477FC0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.container {
  width: 100%;
  max-width: 93%;
  margin: 1rem auto;
  background: #fff;
  padding: 1rem 3rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.container:hover {
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.15);
}
.container .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 3rem;
}
.container .wide-container figure {
  width: 80%;
  margin: auto;
}

.embed {
  margin-bottom: 1.875rem;
  border: 0.0625rem solid rgba(44, 183, 193, 0.6470588235);
  padding: 0.8rem 3rem;
  border-radius: 0.625rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #fff;
}
.embed:hover {
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.15);
}
.embed figure {
  margin: 0;
  padding: 0;
  width: 100%;
}
.embed figure img,
.embed figure embed {
  max-width: 100%;
  border-radius: 0.3125rem;
}

.section-title {
  color: #3056A4;
}

#links-list {
  position: fixed;
  top: 0;
  right: -16%;
  border: 1px solid #ffffff;
  padding: 1.3rem 1rem 1.3rem 3rem;
  display: grid;
  border-radius: 0.625rem;
  gap: 1rem;
  background-color: #000000;
  transition: 0.3s all ease-in-out;
  margin: 0;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  mix-blend-mode: luminosity;
}
#links-list:hover {
  right: 0;
}
#links-list > div {
  text-align: right;
}
#links-list > div a {
  display: inline-block;
  padding: 0.3rem 1.1rem;
  color: #3056A4;
  text-decoration: none;
  border: 1px solid rgba(44, 183, 193, 0.6470588235);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#links-list > div a:hover {
  background-color: rgba(44, 183, 193, 0.6470588235);
  color: #fff;
}